global
    maxconn 4096

defaults
    mode tcp
    timeout connect 10s
    timeout client  60s
    timeout server  60s

frontend http_in
    bind *:80
    mode http
    acl host_terremoto hdr_end(host) -i terremotovenezuela.app
    acl host_vta hdr(host) -i venezuelateayuda.org
    acl host_vta hdr(host) -i www.venezuelateayuda.org
    use_backend terremoto_http if host_terremoto
    use_backend vta_http if host_vta
    default_backend terremoto_http

backend terremoto_http
    mode http
    option tcp-check
    server caddy terremotoapp-caddy-1:80 check inter 5s fall 3 rise 2

backend vta_http
    mode http
    option tcp-check
    server caddy venezuelateayuda-caddy-1:80 check inter 5s fall 3 rise 2

frontend https_in
    bind *:443
    mode tcp
    tcp-request inspect-delay 5s
    tcp-request content accept if { req.ssl_hello_type 1 }

    acl sni_terremoto req.ssl_sni,lower -m end terremotovenezuela.app
    acl sni_vta req.ssl_sni,lower -m end venezuelateayuda.org

    use_backend terremoto_https if sni_terremoto
    use_backend vta_https if sni_vta
    default_backend terremoto_https

backend terremoto_https
    mode tcp
    option tcp-check
    server caddy terremotoapp-caddy-1:443 check inter 5s fall 3 rise 2

backend vta_https
    mode tcp
    option tcp-check
    server caddy venezuelateayuda-caddy-1:443 check inter 5s fall 3 rise 2
