global
    maxconn 4096

defaults
    timeout connect 10s
    timeout client  60s
    timeout server  60s

frontend fe_http
    bind *:80
    mode http
    use_backend be_terremoto_http if { hdr_end(host) -i terremotovenezuela.app }
    use_backend be_vta_http if { hdr(host) -i venezuelateayuda.org } || { hdr(host) -i www.venezuelateayuda.org }
    default_backend be_terremoto_http

backend be_terremoto_http
    mode http
    server c1 terremotoapp-caddy-1:80

backend be_vta_http
    mode http
    server c1 venezuelateayuda-caddy-1:80

frontend fe_https
    bind *:443
    mode tcp
    tcp-request inspect-delay 5s
    tcp-request content accept if { req.ssl_hello_type 1 }
    use_backend be_terremoto_tcp if { req.ssl_sni -m end terremotovenezuela.app }
    use_backend be_vta_tcp if { req.ssl_sni -m end venezuelateayuda.org }
    default_backend be_terremoto_tcp

backend be_terremoto_tcp
    mode tcp
    server c1 terremotoapp-caddy-1:443

backend be_vta_tcp
    mode tcp
    server c1 venezuelateayuda-caddy-1:443
